.App {
  font-family: sans-serif;
  text-align: left;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #08070b;
}

.container {
  width: 0 auto;
}

.container h1 {
  font-weight: 700;
  font-size: 16px;
  color: #817d92;
  margin-bottom: 1rem;
}

.container p {
  background: #24232c;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #a4ffaf;
}

.content {
  background: #24232c;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  margin-bottom: 1rem;
}

label {
  margin-left: 0.5rem;
}

input[type="number"] {
  width: 3rem;
  text-align: center;
  color: #a4ffaf;
  font-weight: 700;
  font-size: 16px;
  background-color: #24232c;
}

input[type="checkbox"] {
  color: #a4ffaf;
  width: 16px;
  height: 16px;
}

button {
  margin-top: 1rem;
  font-size: 1em;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  border: none;
  background-color: #a4ffaf;
  color: #24232c;
  cursor: pointer;
}

button:hover {
  background-color: #24232c;
  color: #a4ffaf;
  border: 1px solid #a4ffaf;
}

